{{#slide-container groups=model}}
  <div class="full-page__slide">
    {{ outlet }}
    <div class="clock">
      <h2>{{moment-format time "HH:mm:ss"}}</h2>
    </div>
  </div>

  <div class="full-page__footer">
    <div class="row-of-12">
      {{#each (sort-by "number" model) as |slide|}}
        {{link-to slide.number "slide-mode.slide" slide class="slide-number"}}
      {{/each}}
    </div>
  </div>
{{/slide-container}}



<div class="slide-actions">
  {{#link-to "admin.reason" class="admin-button"}}
    <span class="fa fa-cogs"></span>
  {{/link-to}}
  {{#link-to "slide-mode" class="home-button"}}
    <span class="fa fa-home"></span>
  {{/link-to}}
</div>
