{{#bulma-panel heading="Add New Reason" }}

  {{#simple-form onsubmit=(action "save") startingValues=model as |formValues|}}
    {{#bulma-panel-block}}
      {{#bulma-control}}
        {{input placeholder="Reason" value=formValues.title class="input"}}
      {{/bulma-control}}

      {{#bulma-control}}
        {{input placeholder="Number" value=formValues.number type="number" class="input"}}
      {{/bulma-control}}
    {{/bulma-panel-block}}

    {{#bulma-panel-block}}
      <div class="columns">
        <div class="column">
          {{link-to "Back" "admin.reason.new" class="button is-fullwidth"}}
        </div>
        <div class="column">
          <button class="button is-primary is-fullwidth">Submit</button>
        </div>
      </div>
    {{/bulma-panel-block}}
  {{/simple-form}}

{{/bulma-panel}}
