{{#bulma-panel heading="Reasons I Love Ember"}}

  <div class="panel-block">
    {{link-to "Add New Reason" "admin.reason.new" class="button is-primary is-fullwidth"}}
  </div>

  {{#each (sort-by "number" model) as |reason|}}
    <div class="panel-block">
      <div class="level">
        <div class="level-left">#{{reason.number}} - {{reason.title}}</div>
        <div class="level-right">
          {{link-to "Manage Slides" "admin.reason.detail" reason}}
        </div>
      </div>
    </div>
  {{/each}}

{{/bulma-panel}}
