<div class="flex-grow flex-center">
  <div class="slide">{{ outlet }}</div>
</div>

<ul class="row">
  {{#each (sort-by "order" model.slides) as |slide|}}
    {{link-to "Slide" "slide-mode.slide.view" slide class="slide-number2"}}
  {{/each}}
</ul>
