<div class="flex-grow flex-center">
  <div class="has-text-centered">
    <h1 class="title is-1">12 Reasons I Still Choose Ember.js</h1>
    <h2 class="subtitle is-2">Ryan Tablada</h2>
  </div>
</div>
