{{#bulma-panel heading=model.title}}

  <div class="panel-block">
    {{link-to "See All Reasons" "admin.reason.index" class="button"}}
  </div>

  {{#each model.slides as |slide|}}
    <div class="panel-block">
      <div class="level">
        <div class="level-left">{{slide.content}}</div>
      </div>
    </div>
  {{/each}}

  <div class="panel-block">
    {{link-to "Add New Slide" "admin.reason.new-slide" model class="button is-fullwidth is-primary"}}
  </div>

{{/bulma-panel}}
